numpy==2.1.2
tqdm
cn2an
fast_langdetect
split_lang
jieba
ffmpeg-python
gradio
pandas
x-transformers
matplotlib
pytorch_lightning
peft
pyyaml
librosa
pypinyin
jieba_fast
wordsegment
g2p_en
pyopenjtalk
sounddevice